<!DOCTYPE html>
<html ng-app="myApp">
<head>

  <script src="lib/angular.min.js"></script>
</head>
<body>
  <!--<li ng-repeat="items in defaultList">{{items}}</li>-->
  <!--<p ng-repeat="items in addList track by $index">{{items}}</p>-->
  <br><br>

  <h1>week 2</h1>
  <h2>
    <a href="hmw2-mqttBinding.html" target="_blank">mqttBinding</a><br><br>
    <a href="hmw2-chatroom.html">Chat Room (online/offline)</a>
  </h2>
  <hr>
  <h1>week 1</h1>
  <h2>
 <a href="hmw1-twoWayBinding.html" target="_blank">Angular two-way binding</a><br><br>
 <a href="hmw1-mqttEchoClient.html" target="_blank">Mqtt Echo Client</a><br><br>
<a href="hmw1-chatroom.html" target="_blank">Chat Room(Angular/Mqtt)</a><br><br>
<a href="http://yale918.tk:8082" target="_blank">Chat Room(native/socketio)</a><br>
  </h2>


</body>
</html>
