<!DOCTYPE html>
<html ng-app="myApp">
<head>

  <script src="lib/angular.min.js"></script>
</head>
<body>
  <!--<li ng-repeat="items in defaultList">{{items}}</li>-->
  <!--<p ng-repeat="items in addList track by $index">{{items}}</p>-->
  <br><br>
  <h2>
Angular two-way binding: <a href="hmw1-twoWayBinding.html">hmw1-twoWayBinding.html </a><br><br>
Mqtt Echo Client: <a href="hmw2-mqttEchoClient.html">hmw2-mqttEchoClient.html </a><br><br>
Chat Room : <a href="chatroom.html">chatroom.html</a><br><be></be>

  </h2>

</body>
</html>
