<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8">
  <script src="lib/angular.min.js"></script>
  <script src="lib/mqttws31.js"></script>
  <script src="lib/Math.uuid.js"></script>
</head>
<body ng-controller="myCtrlr">
  <div ng-init="t_host='localhost';t_port=9001"></div>
  <h1>Mqtt-publisher</h1>
  Mqtt Host/Port <br>
  <input type="text" ng-model="t_host" ><input type="text" ng-model="t_port" > <br>
  {{t_host}} {{t_port}} <br> <br>
  Topic: <br>
  <input type="text" ng-show="flag_connStat" ng-model="t_topic">{{t_topic}} <br>
  Message: <br>
  <input type="text" ng-show="flag_connStat" ng-model="t_message">{{t_message}} <br>
  <input type="button" value="send" ng-show="flag_connStat" ng-click="btn_send()"> <br> <br>
  <input type="button" value="connect" ng-show="flag_connBtn" ng-click="btn_connect()">
  <input type="button" value="autoTest" ng-show="flag_connStat" ng-click="btn_autoTest()">

  <script>
    var app = angular.module('myApp',[]);
    app.controller('myCtrlr',function($scope){
      var host, mqtt_port, client;
      var topic, message;
      var mqtt_message;
      $scope.flag_connStat = false;
      $scope.flag_connBtn = true;

      $scope.btn_autoTest = function(){

        $scope.t_topic='chat1';
        $scope.t_message='hello world';

        $scope.btn_send();
      }

      $scope.btn_connect = function(){
        host = $scope.t_host;
        mqtt_port = $scope.t_port;

        //alert("hi");
        $scope.flag_connStat = true;
        $scope.flag_connBtn = false;


        //client = new Paho.MQTT.Client('localhost',9001,'a1');
        client = new Paho.MQTT.Client(host,Number(mqtt_port),Math.uuid(8, 16));

        client.onConnectionLost = f_connectLost;
        client.connect({  onSuccess: f_connect   });
        client.onMessageArrived = f_messageHandler;
      }

        function f_messageHandler(_message){
          alert("receive message: "+ _message.payloadString)
        }

        function f_connectLost(resObj){
          alert("connect fail");
          //alert(resObj.errorCode+","+resObj.errorMessage);
        }

        function f_connect(){
          client.subscribe('chat1');
        }


      $scope.btn_send = function(){
        //alert('in it');
        message = $scope.t_message;
        topic = $scope.t_topic;
        mqtt_message = new Paho.MQTT.Message(message);
        mqtt_message.destinationName = topic;
        try{  client.send(mqtt_message);  }
        catch(err){  alert(err.stack);  }
      }


    });
  </script>
</body>
</html>
