<!--Partials/home.html-->
<h2>Build RealTime WebApp</h2>
<p></p>
<p class="lead">This is a demonstration web project which uses below software stack to build a realtime web app:</p>

<div class="container">
    <img src="assets/imgs/mqtt_picture_small.png" class="img-responsive" />
    <p class="text-center">圖片來源:<a href="http://www.allaboutcircuits.com/uploads/articles/Introduction-to-the-MQTT-Protocol-on-NodeMCU-(1).png">Introduction-to-the-MQTT-Protocol-on-NodeMCU</a></p>
</div>
<p></p>

<p class="lead">Front End</p>
<ol>
    <li>MVVM framework - angular.js</li>
    <li>Style Layout - bootstrap.js</li>
    <li>PubSub Messaging - mqttws31.js</li>
</ol>
<p class="lead">Back End</p>
<ol>
    <li>WebServer - Node.js</li>
    <li>Storage - Redis</li>
    <li>Messaging - MQTT Broker (Mosquitto)</li>
</ol>
<p></p>

